.home-page {
    background: rgb(0, 48, 75)
}

.home-page-img img{
    width: 600px;
    float: right;
}

.btn-primary {
    background-color: rgb(223, 9, 109);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
}

.btn-primary:hover {
    opacity: 0.9;
}

/* .event {
    height: 1000px;
    background: url(./img/bg.png);
    background-size: 500px;
    background-repeat: no-repeat;
} */

.get-ticket {
    background-image: url(./img/extra.jpg);
}